{% extends 'base.html' %}

{% block judul %} Komparasi Laptop {% endblock %}   
{% block konten %}
    <div style="display: flex; justify-content: center; margin: 20px;">
      <h2 style="margin-right: 200px; font-size: 50px;">Compare</h2>
      <div class="input-group mb-3" style="margin-top: 20px;">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color: #8D99AE; color: white;">Search</button>
      </div>  
    </div>
    <div class="row g-4">
      {% for  row in results %}
      <div class="col" style="display: flex; justify-content: center;">
        <div class="card" style="width: 18rem;">
          <img src="{{row.3}}" class="card-img-top" alt="{{row.1}}" width="14rem">
          <div class="card-body">
            <h5 class="card-title">{{row.1}}</h5>
            <p class="card-text">{{row.2}}</p>
            <a href="/compare/{{row.0}}" class="btn btn-primary">Compare</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}