<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Laptop
                </th>
                <th>
                    Harga
                </th>
                <th>
                    Waktu scrap
                </th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in results %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>